# .cs5785
*.pyc
src/vision/models/*.cfg
src/vision/models/*.weights
src/vision/**/*.jpg
**/.DS_Store

.env
.ipynb_checkpoints/
.vscode/
*.py[cod]
*.mp3
.DS_Store
__pycache__/

.venv

audio_logs/
data/
